<?php

return [
    'doctrine' => [
        'driver' => [
            'odm_default' => [
                'drivers' => [
                    'Money\Money' => 'money_driver'
                ]
            ]
        ],
    ],
];
